@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lexend+Deca&display=swap");

:root {
  --very-dark-blue: hsl(233, 47%, 7%);
  --dark-desaturated-blue: hsl(244, 38%, 16%);
  --soft-violet: hsl(277, 64%, 61%);
  --white: hsl(0, 0%, 100%);
  --slightly-transparent-white: hsla(0, 0%, 100%, 0.75);
  --slightly-transparent-white1: hsla(0, 0%, 100%, 0.6);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Lexend Deca", sans-serif;
}

.container {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: var(--very-dark-blue);
}

.wrapper {
  display: flex;
  width: 80%;
  display: flex;
  align-items: center;
  height: 100vh;
  justify-content: center;
}

.right-box {
  width: 50%;
  position: relative;
  height: 60vh;
  background: url("./images/image-header-desktop.jpg") no-repeat center;
  background-size: cover;
  position: relative;
  border-radius: 0 20px 20px 0;
}

.overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  bottom: 0;
  background: var(--soft-violet);
  opacity: 0.5;
  border-radius: 0 20px 20px 0;
}

.left-box {
  width: 50%;
  background: var(--dark-desaturated-blue);
  color: var(--white);
  height: 60vh;
  display: flex;
  justify-content: space-evenly;
  align-items: left;
  flex-direction: column;
  padding: 4rem 6rem;
  border-radius: 20px 0 0 20px;
}

h2 {
  font-size: 3.6rem;
  color: var(--white);
}

.violet-text {
  color: var(--soft-violet);
  font-size: 3.6rem;
  text-transform: lowercase;
}

p {
  font-size: 1.6rem;
  color: var(--slightly-transparent-white);
  line-height: 3rem;
}

.numbers {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.companies {
  display: flex;
  flex-direction: column;
}

span {
  font-size: 1.6rem;
  color: var(--slightly-transparent-white);
  text-transform: uppercase;
}

.number {
  font-size: 3.5rem;
  color: var(--white);
}

@media (min-width: 1400px) {
  p {
    font-size: 2rem;
  }
  h2 {
    font-size: 4rem;
  }
  .number {
    font-size: 3.5rem;
  }
  span {
    font-size: 2.2rem;
  }
}

@media (max-width: 1085px) {
  .wrapper {
    flex-direction: column;
    width: 100;
  }
  h2 {
    font-size: 3.2rem;
  }
  h2,
  .violet-text {
    font-size: 3.2rem;
  }
  .number {
    font-size: 3.2rem;
  }

  .right-box {
    order: 1;
    border-radius: 20px 20px 0 0;
  }
  .overlay {
    border-radius: 20px 20px 0 0;
  }
  .numbers {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 2rem;
  }
  .left-box {
    order: 2;
    border-radius: 0 0 20px 20px;
    padding: 2rem;
    text-align: center;
  }
  .companies {
    margin-bottom: 20px;
  }
}

@media (max-width: 767px) {
  .left-box,
  .right-box {
    width: 75%;
  }
}

@media (max-width: 500px) {
  .left-box,
  .right-box {
    width: 100%;
  }

  .numbers {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 2rem;
  }
  .left-box {
    padding: 2rem;
    text-align: center;
  }
}

@media (max-width: 400px) {
  .numbers {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 2rem;
  }
  .companies {
    text-align: center;
  }
  .companies span {
    padding-bottom: 1rem;
  }
  p {
    padding: 2rem 0;
  }
  .left-box {
    padding: 2rem;
    text-align: center;
  }
}
